<div class="row mt-4">
    <div class="col-sm-5 m-1">
        <!-- Search by Name -->
        <div class="d-flex flex-row">
            <input type="text" class="col-sm-6" id="nameSearchInput" name="nameSearchInput" #nameSearchInput
                placeholder="Search pets by name">
            <button type="button" class="col-sm-1" style="margin-left:2rem"
                (click)="searchByName(nameSearchInput.value)" class="btn btn-primary"> Search by name</button>
        </div>
        <!-- Search by Age -->
        <div class="d-flex flex-row mt-1">
            <input class="col-sm-6" type="number" [(ngModel)]='ageSearchInput' placeholder="Search pets by age">
            <button class="col-sm-1" type="button" style="margin-left:2rem" (click)="searchByAge()"
                class="btn btn-primary"> Search by age</button>

        </div>
    </div>
</div>

<div class="col-sm-10 mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Age (years)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of Pets">
                <td>{{pet.name}}</td>
                <td>{{pet.birthDate}}</td>
                <td>{{pet.age}} <label *ngIf='pet.isAgeAproximated'> (estimated)</label></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="col-sm-10">
    <div class="d-flex flex-row justify-content-between">
        <button type="button" class="btn btn-dark col-sm-1"(click)="fetchPrevious()">
            previous
        </button>
        <button type="button" class="btn btn-dark col-sm-1" (click)="fetchNext()">
            next
        </button>
    </div>
</div>
