<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#addPetModal"
data-backdrop = "static" data-keyboard = "false">
    New Pets
</button>

<!-- Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModal">Register a new pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-pet (newPetSuccessEvent) = "succesAddedPet($event)"></app-add-pet>
            </div>
        </div>
    </div>
</div>

<table class ="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth's Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pet of Pets">
            <td>{{pet.name}}</td>
            <td>{{pet.age}}</td>
            <button class ="btn btn-close"
            (click)="deletePet(pet.id)"></button>
        </tr>
    </tbody>
</table>
