<div class="row mt-4">
    <div class="col-sm-5 m-1">
        <!-- Search by Name -->
        <div class="d-flex flex-row">
            <input type="text" class="col-sm-6" id="nameSearchInput" name="nameSearchInput" #nameSearchInput
                placeholder="Search pets by name">
            <button type="button" class="col-sm-1" style="margin-left:2rem"
                (click)="searchByName(nameSearchInput.value)" class="btn btn-primary"> Search by name</button>
        </div>
        <!-- Search by Age -->
        <div class="d-flex flex-row mt-1">
            <input class="col-sm-6" type="number" [(ngModel)]='ageSearchInput' placeholder="Search pets by age">
            <button class="col-sm-1" type="button" style="margin-left:2rem" (click)="searchByAge()"
                class="btn btn-primary"> Search by age</button>

        </div>
    </div>
</div>

<div class="col-sm-10 mt-4" *ngIf="Pets.length">
    <app-pet-list [Pets]="Pets"></app-pet-list>
</div>

