<div class = "form-group row">
    <div class = "row">
        <label class = "col-sm-2 col-form-label">Name</label>
        <div class = "col-sm-7">
            <input type = "text" class = "form-control" [(ngModel)] ="Name"
            placeholder = "pet's name">
        </div>
    </div>
    <div class = "row">
        <label class = "col-sm-2 col-form-label">Age</label>
        <div class = "col-sm-7">
            <input type = "text" class = "form-control" [(ngModel)] ="Age"
            placeholder = "pet's age">
        </div>
        <div class="form-check col-sm-2">
            <input class="form-check-input" type="checkbox" value="" id="IsAgeAproximated" [(ngModel)]="IsAgeAproximated">
            <label class="form-check-label" for="IsAgeAproximated">
                Aproximated
            </label>
          </div>
    </div>
    <button (click)="AddPet()" class="btn btn-primary">Add Pet</button>
</div>

