<!-- New Pets -->
<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPetModal"
            data-backdrop="static" data-keyboard="false">
            Add New Pets
        </button>
    </div>
</div>


<div class="col-sm-10 mt-4" *ngIf="Pets.length">
    <h3>Recently added pets</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Age (years)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of Pets">
                <td>{{pet.name}}</td>
                <td>{{pet.birthDate}}</td>
                <td>{{pet.age}} <label *ngIf='pet.isAgeAproximated'> (estimated)</label></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModal">Register a new pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-pet (newPetSuccessEvent)="succesAddedPet($event)"></app-add-pet>
            </div>
        </div>
    </div>
</div>
